<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/projectLabmda/src/excersise1_solutions/Solutions.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="excersise1_solutions.Solutions"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="projectLabmda"/>
</launchConfiguration>
